profiles {
    sge_conda_env { includeConfig "${baseDir}/conf/sge_conda.config" }
    sge_local_env { includeConfig "${baseDir}/conf/sge_local_season2.config" }
    test { includeConfig "${baseDir}/conf/test.config" }
}

params {
    ref_conf = "${baseDir}/conf/reference.json"
}

env = [
    GATK3:"${baseDir}/apps/GenomeAnalysisTK-3.7/GenomeAnalysisTK.jar"
]

cleanup = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true
trace.overwrite = true