
process {
    // BAM statistics processes
    withName: 'calc_exhunter|calc_distance|calc_DOC|calc_genome_coverage|calc_freemix_values|calc_samtools_flagstat|calc_dedup_rates|sqs_calc|summary_qc|sqs_merge' {
        publishDir = [
            path: "${params.outdir}/bam_stats",
            mode: 'copyNoFollow'
        ]
    }

    withName: 'BLAST_UNMAPPED_READS' {
        publishDir = [
            path: "${params.outdir}/BLAST",
            mode: 'copyNoFollow'
        ]
    }

    // VCF processes
    withName: 'variant_call|pass_filter' {
        publishDir = [
            path: "${params.outdir}/VCF",
            mode: 'copyNoFollow'
        ]
    }

    // FASTQ processes
    withName: 'passed_file_check|concat_raw_data|sample_md5check_sum|sample_sqs_calc|sample_sqs_merge|QC_CONFIRM' {
        publishDir = [
            path: "${params.outdir}/Fastq",
            mode: 'copyNoFollow'
        ]
    }

    withName: 'LIMS_API_POST' {
        publishDir = [
            path: { "${params.outdir}/API" },
            mode: 'copyNoFollow'
        ]
    }
}
