    process {
        withName: 'FIND_RAW_DATA' {
            publishDir = [
                path : { "${params.outdir}/${params.prefix}/Fastq" },
                mode : 'link'
            ]
        }
        withName:'summary_qc' {
            publishDir = [
                path : { "${params.outdir}/${params.prefix}" },
                mode: 'copy'
            ]
        }

        withName:'sample_calc_fastqc' {
            publishDir = [
                path : { "${params.outdir}/merged_analysis/Fastq" },
                mode: 'copy'
            ]
        }

        withName:'sample_sqs_merge' {
            publishDir = [
                path : { "${params.outdir}/merged_analysis/Fastq" },
                mode: 'copy'
            ]
        }

        withName:'sample_md5check_sum' {
            publishDir = [
                path : { "${params.outdir}/merged_analysis/Fastq" },
                mode: 'copy'
            ]
        }
    }