/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test
----------------------------------------------------------------------------------------
*/

process {
    executor = 'local'
    memory = 16.GB
    time = 1.h
    cpus = 2
}

conda.enabled = true

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    genome = 'GRCh38'
    
    // Test data
    order_info  = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/tsv/tiny/tiny.tsv'
    sample_sheet = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/tiny/tiny.csv'
    
    // Test parameters
    aligner = 'bwa'
    target_x = 1
    coverage_limit = 5
    read_length = 151
    genome_size = 3000000000
    avg_read_size = 300
    sub_limit = 0.6
    freemix_limit = 0.05
    mapping_rate_limit = 89
    deduplicate_rate_limit = 80
}