process {
    executor = 'local'
    memory = 64.GB
    time = 0.2.h
    cpus = 1
}

env = [
    PATH: [
        "/mmfs1/lustre2/BI_Analysis/wjlim/anaconda3/share/verifybamid2-2.0.1-9/",
        "/mnt/lustre2/BI_Tools/pipeline/RNAseq/tools/seqtk/seqtk-1.0-r63-dirty/",
        "/mnt/lustre2/Tools/WGS_Analysis/Programs/iSAAC/iSAAC-04.18.11.09/bin/",
        "/mnt/lustre2/Tools/WGS_Analysis/Programs/FastQC/FastQC_v0.11.9/",
        "/mnt/lustre2/Tools/WGS_Analysis/Programs/Strelka/Strelka-2.9.10/bin/",
        "/mnt/lustre2/Tools/WGS_Analysis/Programs/bedtools/bedtools-2.25.0/bin/",
        "/mnt/lustre2/Tools/WGS_Analysis/Programs/gvcftools/gvcftools-0.16/bin/",
        "/mmfs1/lustre2/BI_Analysis/wjlim/anaconda3/share/picard-2.27.5-0/",
        "/lustre2/BI_Analysis/wjlim/anaconda3/bin/",
        "/cm/shared/Tools/ExomePipeline/samtools-1.3.1/"
    ].join(':') + ":$PATH",
    GATK3: "${baseDir}/apps/GenomeAnalysisTK-3.7/GenomeAnalysisTK.jar"
]
