process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    sample_sheet = "${projectDir}/assets/test_sample_sheet.csv"

    // small genome on igenomes
    genome          = 'test'
    // Test parameters
    aligner = 'bwamem2'
    target_x = 1
    coverage_limit = 5
    sub_limit = 0.6
    freemix_limit = 0.03
    mapping_rate_limit = 90
    deduplicate_rate_limit = 90
    conda_env_path = '/opt/conda/envs'
}
